#footer {
  height: 270px;
  background-color: #F5F5F5;
  position: relative;
  font-size: 30px;
}

#footer header {
  color: #ffaa00;
  position: absolute;
  top: 146px;
  left: 443px;
}

#footer header span {
  color: #face70;
}

#footer #containerfooter {
  display: flex;
  flex-direction: column;
  color: #a3a3a3;
  font-size: 12px;
  text-align: right;
  position: absolute;
  top: 75px;
  right: 470px;
}

#footer #lu {
  font-size: 16px;
}
